/* custom props */
:root{
    --primary:#ea625c;
    --text-color:#333;
}

html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
    font-family: "roboto","arial", sans-serif;
    font-size: 16px;
    line-height: 1,5;
    height: 100%;
    background-color: #fff;
    color: var(--text-color)
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 1100px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-left: auto;
} 

.main-content {
    flex-grow: 1;
}

/* site header  */

.site-header {
    padding-top: 30px;
    padding-bottom: 30px;
}
.site-header-container {
    display: flex;
    align-items: center;
}
.container {
    
}
.site-header-logo {
    margin-right: auto;
    transition: opacity 0.3 ease ;
}
.site-header-logo-img {
    display: block;
    width: 35px;
    height: 42px;
    object-fit: contain;
}
.site-header-logo:hover{
    opacity: 0.8;
}

.site-header-logo:active{
    opacity: 0.6;
}
/* sitenav  */
.sitenav {
margin-right: 40px;
}
.sitenav-list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
.sitenav-item:not(:last-child) {
    margin-right: 30px;
}
.sitenav-link {
    display: block;
    padding-top: 6px;
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
    font-size: 15px;
    text-decoration: none;
    color: #333;
    transition: border-bottom 0.3 ease;
}
.sitenav-link:hover {
    border-bottom: 3px solid #333;
}

.search-form-input {
    padding-top: 6px;
    padding-bottom: 6px;
    border: 0;
    border-bottom: 1px solid #333;
}